

<div style="margin-top: px;"  id="footer" class=" pt-1 " >
<div style="margin-top: 5px; padding-bottom: px;" class="row mb-2 ">
    <div class="col-1"></div>
    <div id="fdiv" class="col-3  mt-2">
                         <h6  style="font-size:.5cm;">Registered Office,</h6>
                                      <h6>International Privated Limited Outer ring</h6>
                                         <h6> road Karnataka,India</h6>
           
       
    </div>
    
    <div class="col-1"></div>
    <div id="fdiv" class="col-3 mt-2  ">
<h6 style="font-size: .5cm;">Contact us,</h6>
<h6>+91-908070605</h6>
<h6 class="" >flipkart@gmail.com</h6>

    </div>
 
       
      
            <div id="ldiv"  style="font-weight: 700;" class="col-4 mt-3 d-flex justify-content-center align-item-center ">
               
                <div><i class="fa-brands fa-facebook fa-lg"></i></div>
        <div><i class="fa-brands fa-youtube fa-lg ms-5"></i></div>
        <div> <i class="fa-brands fa-instagram fa-lg ms-5"></i></div>
        <div><i class="fa-brands fa-whatsapp fa-lg ms-5"></i></div>
            </div>
        </div>
        
        
            
        
        <div  id="cdiv" style="font-weight: 500;" class=" cdiv d-flex justify-content-end align-item-center " >
            <div  style="margin-top:-55px;" id="footertag" class="text-center  me-5  " >
                Copyright &copy; flipkart 2023 &reg; mikhil madhav
            </div>
        </div>
        
        
    
 

</div>

