<app-allproducts> </app-allproducts>

<!-- spinners -->

<div style="width: 100%;height:425.4px ;background-color: white;" *ngIf="spinners" >

    <div style="margin-left:600px;padding-top:147px;" >
  
      <div  class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  
    </div>
  
  </div>




<!-- add -->

<div *ngIf="!spinners" style="margin-top: 10px; margin-left:13px;" >
    <img width="1254.5px" height="230px" src="https://cdn.shopify.com/s/files/1/0564/3006/7870/files/Combo_Wo_samsung_3x1_d16ddb17-da51-4a59-a0c8-388633d81d41.jpg?v=1690524777" alt="">
</div>





<!-- products -->
<div *ngIf="!spinners" style="margin-top: 10px;margin-left: 25px;">

    <div class="row">

        <div style=" width:405px; background-color: white;" class="col-4">
            <div style="margin-top:20px;margin-bottom: 5px;" ><h4 style="margin-left: 20px;">Top selection</h4></div>
                  <div class="row">
                    
                             <!-- one -->
                        <div routerLink="/products/appliance"  style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:22px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
           
    
                            <div class="d-flex justify-content-center align-item-center" >
                             <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 23px;" ><img style="transition: transform 220ms;" id="hdiv" width="110px" height="110px" src="https://cdn.staticans.com/image/tr:e-sharpen-01,h-700,w-700,cm-pad_resize/catalog/brandstore/preethi/278-2022_10_19-1500_x_1500___Tarus_Pro.png" alt=""></div>
                             
                            </div>
                              
                              
                             <div  style="margin-top: 132px;align-items: center;" >
                                 <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Kitchen Appliances</p>
                                <div style="" >
                                 <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -18px;" >Special Price</p>
                                  
                                </div>
                                     
                                
                             </div>
                         </div>
                     
                                <!-- two -->
                         <div routerLink="/products/grocery"  style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:10px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
           
    
                            <div class="d-flex justify-content-center align-item-center" >
                             <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 23px;" ><img style="transition: transform 220ms;" id="hdiv" width="100px" height="97px" src="https://lsmedia.linker-cdn.net/255715/2020/3518505.jpg?d=390x390" alt=""></div>
                             
                            </div>
                              
                              
                             <div  style="margin-top: 132px;align-items: center;" >
                                 <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Floor and soji</p>
                                <div style="" >
                                 <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -19px;" >Most Loved</p>
                                  
                                </div>
                                     
                                
                             </div>
                         </div>
                          
                         <!-- three -->
                         <div routerLink="/products/electronic"  style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:22px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
           
    
                            <div class="d-flex justify-content-center align-item-center" >
                             <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 23px;" ><img style="transition: transform 220ms;"id="hdiv"       width="100px" height="100px" src="https://cdn1.smartprix.com/rx-imi1VPf5m-w1200-h1200/mi1VPf5m.jpg" alt=""></div>
                             
                            </div>
                              
                              
                             <div  style="margin-top: 131px;align-items: center;" >
                                 <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Camera Accesories</p>
                                <div style="" >
                                 <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -19px;" >In Focus Now</p>
                                  
                                </div>
                                     
                                
                             </div>
                         </div>

                         <!-- four -->

                         <div  routerLink="/products/home" style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:10px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
           
    
                            <div class="d-flex justify-content-center align-item-center" >
                             <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 24px;" ><img style="transition: transform 220ms;" id="hdiv"  width="100px" height="100px" src="https://m.media-amazon.com/images/I/61UgL2BcaUL._AC_UF1000,1000_QL80_.jpg" alt=""></div>
                             
                            </div>
                              
                              
                             <div  style="margin-top: 131px;align-items: center;" >
                                 <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Home Decor</p>
                                <div style="" >
                                 <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -19px;" >Special offer</p>
                                  
                                </div>
                                     
                                
                             </div>
                         </div>


                    
                    <div class="col-6"></div>
                  </div>
        </div>

        
        <!-- middle -->
        <div id="mdiv"  routerLink="/products/fashion" style="margin-right:px;width:px; margin-left: 9px;  background-color: white;" class="col-4">
           
            <div  style="margin-top: 16px;margin-bottom: 16px;" ><h4 style="margin-left: 20px;" >Reccommended Items</h4></div>
           <hr>
            <div class="row">
                <div class="col-6">
<!-- single -->
                    <div   style="   border-color: rgb(231, 225, 225)  ; width:200px ; height: 270px;margin-left:px;margin-right: px; margin-bottom: 15px; margin-top: 90px; background-color: white; " class=" col-6   ">
           
    
                        <div class="d-flex justify-content-center align-item-center" >
                         <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:7px ; margin-top: 10px;" ><img style="transition: transform 220ms;" id="hdiv" width="217px" height="210px" src="https://www.bumchums.in/media/catalog/product/cache/fcfa61961fc3340d1ac49c179d4989ac/2/0/2014-1_1.jpg" alt=""></div>
                         
                        </div>
                          
                          
                         <div  style="margin-top:225px;align-items: center;" >
                             <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.45cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Roadster <span> Tshirt</span></p>
                            </div>
                            <div  style="display: flex; margin-top:-17px ;margin-left: 25px;" >
                        
                                <span style="margin-left: 20px; font-size:.37cm ; color: rgb(12, 12, 12); font-weight:lighter;" class=""><i class="fa-solid fa-indian-rupee-sign fa-sm   "></i></span>
                                 <p class="" style=" font-size:.4cm ; color: rgb(11, 11, 11); margin-top:-.8px; font-weight: 500; " >375</p>
                                
                                <span class="" style=" font-weight:100; margin-top: 2.3px; color: rgb(141, 139, 139); margin-left: 7px; font-size:.305cm;" > <i  class="fa-solid fa-indian-rupee-sign text-decoration-line-through  "><span style="font-weight: 200;" >500</span></i>  </span>
                                  <span  style="margin-top: .9px; color: rgba(30, 167, 30, 0.847);font-weight: 500; font-size:.36cm ;margin-left: 8px;"  > 25 %<span class="" >off</span> </span  >
                            </div>
                    
                     </div>

                </div>


                <div class="col-6">

   <!-- one -->

   <div   style="  border-left:solid;border-width:.0001cm;border-bottom: solid .009cm;  border-color: rgb(231, 225, 225)  ; width:200px ; height: 255px;margin-left:0px;margin-right:px;padding-top: 15px; margin-bottom: 15px; margin-top: -17px; background-color: white; " class=" col-6   ">
           
    
    <div class="d-flex justify-content-center align-item-center" >
     <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:px ; margin-top: 15px;" ><img style="transition: transform 220ms;" id="hdiv" width="141px" height="155px" src="https://m.media-amazon.com/images/I/51OH2hfrzwL.jpg" alt=""></div>
     
    </div>
      
      
     <div  style="margin-top:183px;align-items: center;" >
         <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.42cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Zudio <span> Top</span></p>
        </div>
        <div  style="display: flex;margin-left:14px ;  margin-top:-17px ;" >
    
            <span style="margin-left: 20px; font-size:.37cm ; color: rgb(12, 12, 12); font-weight:lighter;" class=""><i class="fa-solid fa-indian-rupee-sign fa-sm   "></i></span>
             <p class="" style=" font-size:.4cm ; color: rgb(11, 11, 11); margin-top:-.8px; font-weight: 500; " >670</p>
            
            <span class="" style=" font-weight:100; margin-top: 2.3px; color: rgb(141, 139, 139); margin-left: 7px; font-size:.305cm;" > <i  class="fa-solid fa-indian-rupee-sign text-decoration-line-through  "><span style="font-weight: 200;" >1150</span></i>  </span>
              <span  style="margin-top: .9px; color: rgba(30, 167, 30, 0.847);font-weight: 500; font-size:.36cm ;margin-left: 8px;"  > 20 %<span class="" >off</span> </span  >
        </div>

 </div>
 
<!-- two -->

<div   style="border-left:solid;border-width:.0001rem;  border-color: rgb(231, 225, 225)  ; width:200px ; height: 240px;margin-left:0px;margin-right: 10px;  margin-top:-15px; background-color: white; " class=" col-6   ">
           
    
    <div class="d-flex justify-content-center align-item-center" >
     <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:px ; margin-top: 20px;" ><img style="transition: transform 220ms;" id="hdiv" width="140px" height="150px" src="https://m.media-amazon.com/images/I/41J7IRvpOWL.jpg" alt=""></div>
     
    </div>
      
      
     <div  style="margin-top: 179px;align-items: center;" >
         <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.42cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Vogue <span>Puff Top</span></p>
        </div>
        <div  style="display: flex;margin-left:10px; margin-top:-16px ;" >
    
            <span style="margin-left: 20px; font-size:.37cm ; color: rgb(12, 12, 12); font-weight:lighter;" class=""><i class="fa-solid fa-indian-rupee-sign fa-sm   "></i></span>
             <p class="" style=" font-size:.4cm ; color: rgb(11, 11, 11); margin-top:-.8px; font-weight: 500; " >950</p>
            
            <span class="" style=" font-weight:100; margin-top: 2.3px; color: rgb(141, 139, 139); margin-left: 7px; font-size:.305cm;" > <i  class="fa-solid fa-indian-rupee-sign text-decoration-line-through  "><span style="font-weight: 200;" >1750</span></i>  </span>
              <span  style="margin-top: .9px; color: rgba(30, 167, 30, 0.847);font-weight: 500; font-size:.36cm ;margin-left: 8px;"  > 47 %<span class="" >off</span> </span  >
        </div>

 </div>

                </div>
            </div>
        </div>



        <!-- right -->
        <div id="rdiv" style="margin-left: 9px; width:405px; background-color: white;" class="col-4">
            <div style="margin-top: 20px;margin-bottom: 5px;" ><h4 style="margin-left: 20px;" >Discounts For You</h4></div>
            <div class="row">
                
                             <!-- one -->
                             <div routerLink="/products/mobile" style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:22px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
           
    
                                <div class="d-flex justify-content-center align-item-center" >
                                 <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 28px;" ><img style="transition: transform 220ms;" id="hdiv" width="105px" height="100px" src="https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2023/06/o.png?ssl=1" alt=""></div>
                                 
                                </div>
                                  
                                  
                                 <div  style="margin-top: 135px;align-items: center;" >
                                     <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Mobiles</p>
                                    <div style="" >
                                     <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -20px;" >Min 15% off</p>
                                      
                                    </div>
                                         
                                    
                                 </div>
                             </div>
                         
                                    <!-- two -->
                             <div routerLink="/products/electronic"  style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:10px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
               
        
                                <div class="d-flex justify-content-center align-item-center" >
                                 <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 22px;" ><img  style="transition: transform 220ms;" id="hdiv"width="110px" height="108px" src="https://i5.walmartimages.com/asr/79c1e548-049e-4da4-92cb-006927701b2f_1.e12cc3a2f259cd06898c9d863734b08d.jpeg" alt=""></div>
                                 
                                </div>
                                  
                                  
                                 <div  style="margin-top: 134px;align-items: center;" >
                                     <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Electronics</p>
                                    <div style="" >
                                     <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -20px;" >Min 10% off</p>
                                      
                                    </div>
                                         
                                    
                                 </div>
                             </div>
                              
                             <!-- three -->
                             <div routerLink="/products/appliance"  style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:22px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
               
        
                                <div class="d-flex justify-content-center align-item-center" >
                                 <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 23px;" ><img  style="transition: transform 220ms;" id="hdiv"width="108px" height="100px" src="https://dynamicdistributors.in/wp-content/uploads/2021/05/SAMSUNG-551-L-Frost-Free-Double-Door-2-Star-Convertible-Refrigerator-Black-Inox-Color-RT56T6378BS-TL-Dynamic-Distributors-Electronics.png" alt=""></div>
                                 
                                </div>
                                  
                                  
                                 <div  style="margin-top: 135px;align-items: center;" >
                                     <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Appliances</p>
                                    <div style="" >
                                     <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -19px;" >Min 10% off</p>
                                      
                                    </div>
                                         
                                    
                                 </div>
                             </div>
    
                             <!-- four -->
    
                             <div  routerLink="/products/toy" style="border-style:solid;border-width:.0001rem; border-radius: 5%; border-color: rgb(231, 225, 225)  ; width:170px ; height: 190px;margin-left:10px;margin-right: 10px; margin-bottom: 15px; margin-top: 12px; background-color: white; " class=" col-6   ">
               
        
                                <div class="d-flex justify-content-center align-item-center" >
                                 <div  style=" display: flex; justify-content: center;align-items: center; position: absolute; margin-left:-12px ; margin-top: 27px;" ><img  style="transition: transform 220ms;" id="hdiv"width="110px" height="100px" src="https://5.imimg.com/data5/SELLER/Default/2022/2/KZ/TX/SE/144711334/kids-remote-control-helicopter.jpg" alt=""></div>
                                 
                                </div>
                                  
                                  
                                 <div  style="margin-top: 134px;align-items: center;" >
                                     <p style="align-items:ccenter;display: flex;justify-content: center;font-size:.43cm; font-weight: 630;color: rgb(126, 126, 126);" class="" >Toys</p>
                                    <div style="" >
                                     <p class="" style="display: flex; justify-content: center; font-size: .43cm;font-weight: 500; color:green; margin-top: -19px;" >Min 5% off</p>
                                      
                                    </div>
                                         
                                    
                                 </div>
                             </div>
    
              

                <div class="col-6"></div>
            </div>
        </div>
    </div>






</div>